body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  height: 100vh;
  color: #ffffff92;
  font-weight: 200;
  background-image: linear-gradient(to top left, #40002b, #003461);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  top: -3%;
  width: 50rem;
  height: 55rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(30px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}

.coins {
  position: absolute;
  width: 30rem;
  opacity: 0.3;
}

.coins--piles {
  right: 1%;
  bottom: 1%;
}

.coins--fly {
  width: 60rem;
  left: 1%;
  bottom: 10%;
}

.arch {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50rem;
  opacity: 0.1;
}

.timer {
  position: absolute;
  top: 18%;
}

.card {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  height: 10rem;
}

.score {
  position: absolute;
  outline-color: #000000;
  outline-width: 0.5rem;
  background-color: #0000005b;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.banner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top left, #ff9f187d 0%, #fbe43a7f 100%);
  backdrop-filter: blur(20px);
  font-size: 2rem;
  color: #4d4d4d;
  width: 35rem;

  text-align: center;
  border-radius: 0.5rem;
}

/* START */

.start {
  position: absolute;
  padding: 2rem;
  padding-right: 3.5rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
}

.input--player {
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

/* DEALER */

.dealer {
  position: relative;
  left: 50%;
  top: 0%;
  padding: 10rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.card--dealer {
  position: absolute;
  left: 50%;
  top: 15%;
}

.card--dealer1 {
  left: 48%;
  top: 13%;
}

.card--dealer2 {
  left: 52%;
  top: 17%;
}

.score--dealer {
  top: 20%;
  left: 74%;
  font-size: 2rem;
}

.name--dealer {
  position: absolute;
  bottom: 5%;
}

/* PLAYER */

.player {
  position: relative;
  left: 50%;
  padding: 15rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name--player {
  position: absolute;
  bottom: -12%;
}

.card--init1 {
  position: absolute;
  left: 48%;
  top: 45%;
}
.card--init2 {
  position: absolute;
  left: 52%;
  top: 47%;
}

.card--current {
  position: absolute;
  left: 50%;
  top: 70%;
}

.score--player {
  top: 30%;
  left: 70%;
  font-size: 5rem;
}

/* BUTTONS */

.button {
  position: absolute;
  transform: translateX(-50%);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.189);
  background-image: linear-gradient(to top left, #ff9f18 0%, #fbe43a 100%);
  font-family: inherit;
  font-size: 1.5rem;
  color: #4d4d4d;
  height: 5rem;
  width: 9rem;
  border-radius: 5px;
  transition: background-image 0.3s;
}

.btn--hit {
  top: 55%;
  left: 20%;
}

.btn--stand {
  top: 70%;
  left: 20%;
}

.btn--new {
  bottom: 1%;
  left: 50%;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
}

.btn--player {
  height: 2.5rem;
  width: 2.5rem;
  right: -2%;
  bottom: 20%;
}

.btn--modal {
  position: absolute;
  right: -2%;
  top: 1%;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
}

.btn--close-modal {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

button:hover {
  margin: 0.1rem;
  background-image: linear-gradient(to top left, #ff9f18 0%, #fbe43a 100%);
}

button:disabled {
  background-image: linear-gradient(to top left, gray, lightgray);
}

button[disabled]:hover {
  margin: 0rem;
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: rgba(38, 38, 38, 0.949);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

/* STATES */

.active {
  font-size: x-large;
  color: white;
  font-weight: 500;
}

.hidden {
  display: none;
}
